<div class="content-wrapper">
  <section class="content-header" *ngIf="mProductArray !== undefined">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-box-open"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Stock</span>
              <span class="info-box-number">{{ mProductArray.length }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-warning"><i class="fas fa-exclamation-triangle"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Defect</span>
              <span class="info-box-number">0</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-maroon"><i class="fas fa-minus-circle"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Sold out</span>
              <span class="info-box-number">{{ getOutOfStock() }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="card">
      <div class="card-body">
        <div class="row card-body-header">
          <div class="col-5">
            <input (keyup)="searchTextChanged.next($event.target.value)" class="form-control input-lg"
              placeholder="Enter search keyword">
          </div>
          <div class="col-7">
            <a [routerLink]="['/stock/create']" class="btn btn-success float-right btn-add">เพิ่ม</a>
          </div>
        </div>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>NAME</th>
              <th>PRICE</th>
              <th>STOCK</th>
              <th class="text-center">ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mProductArray">
              <td class="text-center">{{ item.productId }}</td>
              <td>
                <img *ngIf="item.image === null" src="assets/images/no_photo.jpg" class="product_image">
                <img *ngIf="item.image !== null" src="{{item.image}}" class="product_image">
                <strong class="product_name"> {{ item.name }}</strong>
              </td>
              <td>฿ {{ item.price }}</td>
              <td>{{ item.stock }} PCS.</td>
              <td class="text-center">
                <img src="assets/images/ic_edit.png" (click)="editProduct(item.productId)" class="edit_product">
                <img src="assets/images/ic_delete.png" (click)="deleteProduct(item.productId)" class="delete_product">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
