.login-page {
  min-height: 512.391px;
}

.login-card-body-header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.login-card-body-header>img {
  max-width: 250px;
}

.confirm-password {
  margin-bottom: 0 !important;
}

.alert_confirm_password {
  color: #e44e4e;
}

.select-position {
  margin-top: 1rem !important;
}
